.event{
    padding: 100px;
}

.events h3 {
    text-align: center;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    font-size: 2.5em;
}

.events h3:after {
    content: '';
    background: #FA1818;
    height: 2px;
    width: 8%;
    position: absolute;
    bottom: 0%;
    left: 46%;
}

.event_grid_left i {
    font-size: 2em;
    color: #FA1818;
    padding-top: 1em;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-bullhorn:before {
    content: "\f0a1";
}

.event_grid_right h4 {
    font-size: 1.1em;
    color: #212121;
    text-transform: uppercase;
}

.event_grid_right p {
    font-size: 14px;
    color: #999;
    line-height: 2em;
    margin: 1em 0 0;
}

.w3agile_event_grid_left i {
    font-size: 2em;
    color: #FA1818;
    padding-top: 1em;
}

.w3agile_event_grid_right h4 {
    /* font-size: 1.1em; */
    color: #212121;
    text-transform: uppercase;
}

.w3agile_event_grid_right p {
    font-size: 14px;
    color: #999;
    line-height: 2em;
    margin: 1em 0 0;
}


.events-bottom {
    padding: 5em 0 0;
}

.events_bottom_left1_grid {
    width: 125px;
    height: 125px;
    background: #84C639;
    text-align: center;
    margin: 0 auto;
}
.events_bottom_left1_grid h4 {
    font-size: 2em;
    padding: .7em 0;
    background: #f5f5f5;
}
.events_bottom_left1_grid p {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: .8em;
}
.events_bottom_left2 {
    padding: 0;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.events_bottom_left2 h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #212121;
    margin: 2em 0 1em;
}
.events_bottom_left2 ul li {
    display: inline-block;
    margin-right: 1.5em;
    color: #212121;
}
ul li, ol li {
    font-size: 14px;
}
.events_bottom_left2 ul li i {
    padding-right: 1em;
    color: #FA1818;
}

.events_bottom_left2 p {
    color: #999;
    line-height: 2em;
    font-size: 14px;
    margin: 1.5em 0 0;
}