.carousel-inner img {
    
    width: 100%;
    height: 100%;
    
  }
#demo{
    width: 50%;
    float: left;
    width: 54.5%;
    

   

    


}

.vertical{
    width: 20%;
    float: left;
    line-height: 45px;

}